body{
    background-color: white;

}
.image{
    width: 20%;
    height: 20%;
    margin-left: 40%;
    margin-top: 7%;
    margin-right: 40%;
}
.question{
    text-align: center;
    font-size: 30px;
}

#inputs{
    display: flex;
    justify-content: center;
    gap: 10px; /* Butonlar arası boşluk */

}

#yesButton{
    font-size: 40px;

    min-width: 50px;
    width: auto;
    min-height: 50px;
    height: 50px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#noButton{
    font-size: 40px;

    min-width: 50px;
    width: auto;
    height: 50px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}