<!DOCTYPE html>
<html lang="en">

<head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" >

    <link rel="preload" as="image" href="img/thxLove.gif">
    <link rel="stylesheet" href="style/thxLove.css">
    
    <title>Valentine's Day Card</title>
    <meta name="description" content="Will you be my valentine?">
    <link rel="icon" href="" type="image/x-icon" sizes="16x16">

</head>

<body>
    <div>
        <img src="img/kiss.gif" id="image">
        <h1 id="celebrate">!!!I LOVE YOUU!!!</h1>
        <img src="img/heart.jpg" id="heart">
    </div>
</body>

</html>