<!DOCTYPE html>
<html lang="en">

<head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" >

    <!--<link rel="preload" href="https://valentine.mewtru.com/_next/static/media/c9a5bc6a7c948fb0-s.p.woff2" as="font" crossorigin="" type="font/woff2">-->
    <link rel="preload" as="image" href="img/thxLove.gif">
    <link rel="stylesheet" href="style/thxLove.css">
    
    <!--<link rel="preload" as="script" fetchpriority="low" href="Valentine's%20Day%20Card1_dosyalar/webpack-7086a7543d1dc029.js" crossorigin="">
    <script src="Valentine's%20Day%20Card1_dosyalar/fd9d1056-534a3af521b04580.js" async="" crossorigin=""></script>
    <script src="Valentine's%20Day%20Card1_dosyalar/69-5788959f6f1d2963.js" async="" crossorigin=""></script>
    <script src="Valentine's%20Day%20Card1_dosyalar/main-app-f5c8d25c8479457f.js" async="" crossorigin=""></script>
    <script src="Valentine's%20Day%20Card1_dosyalar/page-a53c2c10bc9b282e.js" async=""></script>-->
    <title>Valentine's Day Card</title>
    <meta name="description" content="Will you be my valentine?">
    <link rel="icon" href="" type="image/x-icon" sizes="16x16">

    <!--<script src="Valentine's%20Day%20Card1_dosyalar/polyfills-c67a75d1b6f99dc8.js" crossorigin="" nomodule=""></script>-->
</head>

<body>
    <div>
        <img src="img/kiss.gif" id="image">
        <h1 id="celebrate">!!!I LOVE YOUU!!!</h1>
        <img src="img/heart.jpg" id="heart">
    </div>
</body>

</html>