<!DOCTYPE html>
<html lang="en">

<head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" >

    <!--<link rel="preload" href="/_next/static/media/c9a5bc6a7c948fb0-s.p.woff2" as="font" crossorigin="" type="font/woff2" />-->

    <link rel="preload" as="image" href="/img/willUBe.gif" >
    <link rel="stylesheet" href="style/willUBe.css"  >
    
    <!--<link rel="preload" as="script" fetchPriority="low" href="/_next/static/chunks/webpack-7086a7543d1dc029.js" crossorigin="" />-->



    <!--<script src="/_next/static/chunks/fd9d1056-534a3af521b04580.js" async="" crossorigin=""></script>
    <script src="/_next/static/chunks/69-5788959f6f1d2963.js" async="" crossorigin=""></script>
    <script src="/_next/static/chunks/main-app-f5c8d25c8479457f.js" async="" crossorigin=""></script>
    <script src="/_next/static/chunks/app/page-a53c2c10bc9b282e.js" async=""></script>-->
    
    
    
    
    <title>Valentine&#x27;s Day Card</title>
    <meta name="description" content="Will you be my valentine?" />

    <!--<link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="16x16" />
    <meta name="next-size-adjust" />
    <script src="/_next/static/chunks/polyfills-c67a75d1b6f99dc8.js" crossorigin="" noModule=""></script>-->

</head>

<body>
    <div >
        <img class="image" src="/img/willUBe.gif" />

        <h1 class="question">Will you be my Wife?</h1>
        
        <div>
            <button id="yesButton">Yes</button>
            <button id="noButton">No</button>
        </div>
    </div>
   </body>

</html>