<!DOCTYPE html>
<html lang="en">

<head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preload" as="image" href="/img/willUBe.gif">
    <link rel="stylesheet" href="style/willUBe.css">
    <title>Valentine&#x27;s Day Card</title>
    <meta name="description" content="Will you be my valentine?" />

</head>

<body>
    <div>
        <img class="image" src="/img/willUBe.gif" />

        <h1 class="question">Will you be my Wife?</h1>

        <div id="inputs">
            <form action="/thxLove">
                <input type="submit" id="yesButton" value="Yes">
            </form>
            <input type="submit" id="noButton" value="No">
        </div>
    </div>



    <script>
        document.getElementById('noButton').addEventListener('click', function () {
            fetch('/getRandomLine')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('noButton').value = data.line;



                    // Mevcut boyutları px cinsinden al ve integer değerine çevir
                    let height = parseInt(document.getElementById('yesButton').style.height, 10) || 0; // Varsayılan değer 0
                    let width = parseInt(document.getElementById('yesButton').style.width, 10) || 0; // Varsayılan değer 0

                    // Boyutları artır
                    height += 50;
                    width += 50;

                    // Yeni boyutları uygula
                    document.getElementById('yesButton').style.height = height + 'px';
                    document.getElementById('yesButton').style.width = width + 'px';

                })
                .catch(error => {
                    console.error('An error occurred:', error);
                });
        });
    </script>

</body>

</html>